body {
    padding: 0;
    margin: 0;
    background-color: rgb(232, 236, 236);
}

* {
  /* border: 1px rgb(146, 125, 125) solid; */
  /* text-align: center; */
  color: red;
}

/* HEADER */

header {
    background-color: rgb(53, 53, 53);
    height: 46px;
}

.nav {
    height: 46px;
    margin: 0% 10%;
    display: flex;
    justify-content: space-between;
}

/* HEADER LEFT */

.nav_left {
    display: flex;
    align-items: center;
}

/* HEADER MIDDLE */

.nav_middle {
    display: flex;
    align-items: center;
}

.nav_middle-search {
    display: flex;
    align-items: center;
}

/* HEADER RIGHT */

.nav_right {
    display: flex;
    align-items: center;
}

.nav_right-links {
    display: flex;
    align-items: center;
}

.nav_right-user {
    display: flex;
    align-items: center;
}

.nav_right-buttons {
    display: flex;
    align-items: center;    
}

/* MAIN */

main {
    margin: 0% 10%;
    background-color: rgb(255, 255, 255);
}

.content {
    display: flex;
}

/* MAIN CONTENT */

.content_main {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.content_main_card {
    border-bottom: rgb(88, 86, 86) 2px solid;

    margin: 20px 30px;

    display: flex;
    flex: 1;
    flex-direction: column;

}

.content_main_card-header {
    background-color: grey;
}

.content_main_card-header-title {

}

.content_main_card-header-desc {

}

.content_main_card-body {
    background-color: hotpink;
}
.content_main_card-footer {
    background-color: rgb(177, 136, 219);
}

/* SIDEBAR CONTENT */

.content_sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-left: 2px rgb(146, 145, 145) solid;
}

.content_sidebar_card {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px;
}

.content_sidebar_card-header {
    background-color: rebeccapurple;
}
.content_sidebar_card-body {
    background-color: blue;
}

/* h1 { font-size: 1.5em}
h2 { font-size: 1em } */